body {
    display: block;
    font-family: 'Inter', sans-serif;
    background-color: rgb(234, 242, 238);
    
}

.card {
    padding: 20px;
    border-radius: 50px;
    width: 426px;
    height: 896px;
    background-color: #fff;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    margin: auto;
}

.card__title {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
}
    
.card__sub {
    font-size: 15px;
    font-weight: 400;
    margin-top: 213px;
}

p {
    font-size: 16px;
    font-weight: 600;
}

.btn-keeper {
    margin-top: 102px;
    text-align: center;
}


.btn {
    
    padding-top: 14px;
    padding-bottom: 18px;
    padding-left: 129px;
    padding-right: 127px;
    color: #fff;
    width: 343px;
    height: 51px;
    background-color: #F16A26;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    transition: linear 0.3s;
    
}

.btn:hover {
    background-color: #b2582b;
}

