body {
    
    display: block;
    font-family: 'Inter', sans-serif;
    background-color: rgb(234, 242, 238);
    
}

.cart-card {
    padding: 20px;
    border-radius: 50px;
    width: 426px;
    height: 896px;
    background-color: #fff;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.25);
    margin: auto;
}

.card__title {
    color: rgba(0, 0, 0, 0.75);
    margin-top: 350px;
    font-size: 20px;
    font-weight: 600;
}
    
.card__sub {
    font-size: 15px;
    font-weight: 400;
    margin-top: 68px;
}

.cart-card__img {
    position: absolute;
    transform: translate(-5%, -36%);
}

.cart-card__img2 {
    position: absolute;
    transform: translate(8%, -20%);
}

.cart-card__img3 {
    margin-top: 10px;
    position: absolute;
}

.cart-card__img4 {
    position: absolute;
    transform: translate(0%, 130%);
}

.inStock {
    font-size: 14px;
    font-weight: 600;
    margin-top: 50px;
    text-align: right;
}

.about {
    font-size: 16px;
    font-weight: 600;
}

.description {
    margin-top: 10px;
}

.btn-keeper {
    margin-top: 60px;
    text-align: center;
}


.btn {
    padding-top: 14px;
    padding-bottom: 18px;
    padding-left: 129px;
    padding-right: 127px;
    color: #fff;
    width: 343px;
    height: 51px;
    background-color: #F16A26;
    border-radius: 15px;
    text-decoration: none;
    cursor: pointer;
    transition: linear 0.3s;
    
}

.btn:hover {
    background-color: #b2582b;
}

